* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-banner {
  position: absolute;
  right: 40px;
  top: 70px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}
.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #ff2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}
.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}
.search-btn:hover {
  color: #ff2625 !important;
  border: 1px solid #ff2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}
.detail-image {
  width: 650px;
  height: 600px;
}
.text-color {
  color: #ff2625;
  font-weight: bold;
  text-transform: capitalize;
}
@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }
  .hero-banner {
    display: none;
  }
  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}
.scrollBar {
  overflow: hidden;
}
.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }
}
